openapi: 3.0.1
info:
  title: Templated Renders Templates API
  description: REST API for automated image, video, and PDF generation from reusable templates. Render templates by overriding layer content, synchronously or asynchronously, and retrieve templates and renders.
  termsOfService: https://templated.io/terms/
  contact:
    name: Templated Support
    url: https://templated.io/
  version: '1.0'
servers:
- url: https://api.templated.io/v1
security:
- bearerAuth: []
tags:
- name: Templates
paths:
  /templates:
    get:
      operationId: listTemplates
      tags:
      - Templates
      summary: List all templates
      description: Lists Template objects in the account with search, filtering, and pagination.
      parameters:
      - name: query
        in: query
        description: Search templates by name.
        schema:
          type: string
      - name: page
        in: query
        description: Pagination page number.
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Number of results per page.
        schema:
          type: integer
          default: 25
      - name: width
        in: query
        description: Filter by template width.
        schema:
          type: integer
      - name: height
        in: query
        description: Filter by template height.
        schema:
          type: integer
      - name: tags
        in: query
        description: Filter by comma-separated tags.
        schema:
          type: string
      - name: externalId
        in: query
        description: Filter by external ID.
        schema:
          type: string
      - name: includeLayers
        in: query
        description: Include template layers in the response.
        schema:
          type: boolean
          default: false
      - name: includePages
        in: query
        description: Include template pages and layers in the response.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Template'
        '401':
          description: Unauthorized
  /template/{id}:
    get:
      operationId: getTemplate
      tags:
      - Templates
      summary: Retrieve a template
      description: Retrieves a single Template object referenced by its unique ID.
      parameters:
      - name: id
        in: path
        required: true
        description: The unique ID of the template.
        schema:
          type: string
      - name: includeLayers
        in: query
        description: Include template layers in the response.
        schema:
          type: boolean
          default: false
      - name: includePages
        in: query
        description: Include template pages and layers in the response.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
components:
  schemas:
    Template:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the template.
        name:
          type: string
          description: Name of the template.
        width:
          type: integer
          description: Template width in pixels.
        height:
          type: integer
          description: Template height in pixels.
        background:
          type: string
          description: Background color value (e.g. "#ffffff" or "rgb(255, 255, 255)").
        thumbnail:
          type: string
          description: URL of the template thumbnail.
        layers:
          type: array
          description: Template layers, included when includeLayers is true.
          items:
            type: object
            additionalProperties: true
        pages:
          type: array
          description: Template pages and their layers, included when includePages is true.
          items:
            type: object
            additionalProperties: true
        createdAt:
          type: string
          description: Timestamp of template creation.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: The API key must be included in all requests in the Authorization header as a Bearer token. Obtain an API key from the account dashboard at app.templated.io.
